<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs12>
        <v-form ref="form" @submit.prevent="savePlayer" v-model="valid" novalidate>
          <v-flex>
            <v-text-field
              required
              :rules="nameRules"
              type="text" v-model="newPlayer.fullName"
              label="Full name">
            </v-text-field>
            <v-text-field
              required
              :rules="phoneRules"
              type="text" v-model="newPlayer.phone"
              label="Phone">
            </v-text-field>
            <v-text-field
              required
              :rules="heightRules"
              type="text" v-model="newPlayer.height"
              label="Height">
            </v-text-field>
          </v-flex>
          <v-btn :disabled="!$refs.form || !$refs.form.value" type="submit" color="success">Add</v-btn>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {PlayersService} from "@/store/services/playersService";

  export default {
    name: 'add-player',
    data() {
      return {
        valid: true,
        nameRules: [
          v => !!v || 'Full name is required',
          v => v.length > 1 || 'Name must be more than 1 character'
        ],
        phoneRules: [
          v => !!v || 'Phone is required',
          v => v.length > 1 || 'Phone must be more than 1 character'
        ],
        heightRules: [
          v => !isNaN(+v) || 'Height must be number'
        ],
        newPlayer: {
          fullName: '',
          phone: '',
          height: 0
        }
      }
    },
    methods: {
      savePlayer() {
        PlayersService.createPlayerForTeam(this.newPlayer, this.$route.params.id).then(
          () => {
            this.$router.go(-1);
          }
        )
      }
    },
    computed: {
      ...mapGetters(['playersForTeam'])
    },
  }
</script>

<style scoped>

</style>
