
<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="teams"
      hide-actions
      class="elevation-1">
      <template slot="items" slot-scope="props">
        <tr @click="goToTeamDetails(props.item.id)">
          <td class="text-xs-left cursor">{{ props.item.full_name }}</td>
          <td class="text-xs-left cursor">{{ props.item.state }}</td>
          <td class="text-xs-left cursor">{{ props.item.city }}</td>
          <td class="text-xs-left cursor">{{ props.item.conference }}</td>
          <td class="text-xs-left cursor">{{ props.item.division }}</td>
          <td class="text-xs-left cursor">{{ props.item.site_name }}</td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {TeamsService} from "../store/services/teamsService";

  export default {
    name: 'Main',
    data: () => ({
      headers: [
        {text: 'Name', sortable: false},
        {text: 'State', sortable: false},
        {text: 'City', sortable: false},
        {text: 'Conference', sortable: false},
        {text: 'Division', sortable: false},
        {text: 'Site name', sortable: false}
      ]
    }),
    created() {
      TeamsService.getTeams();
    },
    methods: {
      goToTeamDetails(id) {
        this.$router.push('/teams/' + id);
      }
    },
    computed: {
      ...mapGetters(['teams'])
    }
  }
</script>
<style type="text/css">
  .cursor {
    cursor: pointer;
  }
</style>
