<template>
  <div>
    <!--<div>-->
      <v-btn
        color="pink"
        class="create-button"
        @click="redirectToPlayerCreation"
        dark
        small
        fab>
        +
      </v-btn>
    <!--</div>-->
    <v-data-table
      :headers="headers"
      :items="playersForTeam.players"
      hide-actions
      class="elevation-1">
      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-left cursor">{{ props.item.fullName }}</td>
          <td class="text-xs-left cursor">{{ props.item.phone }}</td>
          <td class="text-xs-left cursor">{{ props.item.height }} cm</td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
  import {PlayersService} from "@/store/services/playersService";
  import {mapGetters} from 'vuex';

  export default {
    name: 'Team',
    data: () => ({
      headers: [
        {text: 'FullName', sortable: false},
        {text: 'Phone', sortable: false},
        {text: 'Height', sortable: false},
      ]
    }),
    created() {
      PlayersService.getPlayersByTeam(this.$route.params.id)
    },
    methods: {
      redirectToPlayerCreation() {
        this.$router.push(`/teams/${this.playersForTeam.teamId}/players/add`)
      }
    },
    computed: {
      ...mapGetters(['playersForTeam'])

    }
  }

</script>

<style scoped>
  .create-button {
    position: fixed !important;
    right: 25px;
    top: 85px;
    z-index:99;
  }
</style>
