<template>
  <div id="app">
    <v-app>
      <v-toolbar app>
        <v-toolbar-title>NBA players fetcher</v-toolbar-title>
      </v-toolbar>
      <v-content id="content">
        <v-container fluid>
          <router-view/>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  #content {
    padding: 0!important;
  }
</style>
